<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>{{modalTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <!-- skill level -->
          <ion-list-header>
            <ion-label>Skill level</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-range min="1" max="5" step="1" snaps="true" [(ngModel)]="skillLevel">
            </ion-range>
            <ion-badge color="primary">{{skillLevel}}/5</ion-badge>
          </ion-item>
          <!-- maximum distance -->
          <ion-list-header>
            <ion-label>Maximum distance</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-range min="0" max="50" step="1" [(ngModel)]="maxDistance">
            </ion-range>
            <ion-badge color="primary">{{maxDistance}} Km</ion-badge>
          </ion-item>
          <!-- age range -->
          <ion-list-header>
            <ion-label>Age range</ion-label>
          </ion-list-header>
          <ion-item>
            <ion-badge color="primary">{{currentMinAge}}</ion-badge>
            <ion-range dualKnobs="true"
                       [min]=minAge
                       [max]="maxAge"
                       step="1"
                       [(ngModel)]="knobValues"
                       (ionChange)="changeAgeValues()"
            >
            </ion-range>
            <ion-badge color="primary">{{currentMaxAge}}</ion-badge>
          </ion-item>
          <!-- gender -->
          <ion-radio-group (ionChange)="onGenderChange($event)">
            <ion-list-header>
              <ion-label>Gender</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio value="male" [checked]="this.gender==='male'"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio value="female" [checked]="this.gender==='female'"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Any</ion-label>
              <ion-radio value="any" [checked]="this.gender==='any'"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="closeModal()">Done</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
