<ion-header>
    <ion-toolbar>
        <ion-title>
            Skills
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="searchDiv">
        <ion-searchbar showCancelButton="never" placeholder="" [(ngModel)]="currentSkillText"></ion-searchbar>
        <ion-button size="small" (click)="addSkill()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    </div>

    <p id="chipSet">
        <ion-chip *ngFor="let skill of currentUser.skills; let i = index">
            <ion-avatar>
                {{skill.level}}
            </ion-avatar>
            <ion-label>{{skill.name}}</ion-label>
            <ion-icon name="close-circle" color="danger" (click)="removeSkill(i)"></ion-icon>
        </ion-chip>
    </p>
</ion-content>
