#profileDiv{
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;

  ion-avatar{
    height: 7rem;
    width: 7rem;
    margin-right: 2rem;
  }
}

ion-input {
  font-size: 0.9rem;
}

ion-select{
  font-size: 0.9rem;
}
